[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "genMCMCDiag"]
	path = genMCMCDiag
	url = https://github.com/lukeduttweiler/genmcmcdiag
[submodule "skipTrack"]
	path = skipTrack
	url = https://github.com/lukeduttweiler/skiptrack
